/* ===== 네비바 전체 ===== */
*{
    box-sizing: border-box;
}
#wrapper {
    width: 100%;
    height: 989px;
    margin: auto;
    position: relative;
}

/* ====== 네비바 컨텐츠 ===== */

#header {
    width: 100%;
    height: 70px;
    display: flex;
    text-align: center;
    color: white;
    padding: 10px 0px 0px 15px;
    /* border: 1px solid white; */
    transition-property:all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    overflow: hidden;
    z-index: 100;
    position: fixed;
}

/* ===== 투썸 로고 ===== */

#logo {
    width: 200px;
    height: 21px;
    background-image: url("투썸플레이스 - Premium Dessert Cafe A Twosome Place._files/logo_white.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* ===== 네비 메뉴 ===== */

#menu-wrap {
    width: 100%;
    height: 100px;
    cursor: pointer;
}

ul, li {
    list-style: none;
}

#menu {
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    padding-right: 30px;
}
#menu>li{
    position: relative;
}

#menu>li>a {
    display: block;
    text-align: left;
    font-size: 14px;
    padding-bottom: 20px;
}
.semi-list {
    margin-top: 10px;
    padding: 0;
    font-size: 13px;
    display: none;
    position: absolute;
    width: 155%;
    left: 0;
}

.semi-list li{
    padding: 0;
    text-align: left;
}

.semi-list>li ul{
    padding: 0;
    color: gray;
    text-align: left;
}

/* ===== 메뉴 기능구현 ===== */

#header:hover {
    height: 380px;
    background-color: white;
    color: black;
}

#header:hover #logo{
    background-image: url("투썸플레이스 - Premium Dessert Cafe A Twosome Place._files/logo_black.svg");
}

#header:hover .btn-lang {
    color: black;
    border: 1px solid black;
}

#header:hover .btn-allmenu {
    border: 0px solid transparent;
    background-image: url("투썸플레이스 - Premium Dessert Cafe A Twosome Place._files/ico_24_allmenu_black.svg");
}

#header:hover .semi-list {
    display: inline-block;
    /* color:black; */
}

/* ===== 네비바 언어 ===== */

.btn-lang{
    border: 1px solid white;
    background-color: transparent;
    color: white;
    width: 120px;
    height: 30px;
    margin: 15px 20px 0px 0px;
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
}

.btn-allmenu {
    width: 30px;
    height: 30px;
    margin: 18px 40px 0px 10px;
    border: 0px solid transparent;
    background-color: transparent;
    background-image:url("투썸플레이스 - Premium Dessert Cafe A Twosome Place._files/ico_24_allmenu_white.svg") ;
    background-repeat: no-repeat;
    background-position: center;
}

.main-quick {
    border: 1px solid rgba(213, 0, 55, 0.9);
    background-color: rgba(213, 0, 55, 0.9);
    border-radius: 30px;
    width: 180px;
    height: 70px;
    font-size: 18px;
    font-weight: 900;
    padding: 20px;
    position: absolute;
    top: 600px;
    left: 85%;
    cursor: pointer;
    position: fixed;
    display: flex;
    line-height: 30px;
}

.main-quick-img{
    background-image: url("투썸플레이스 - Premium Dessert Cafe A Twosome Place._files/ico_floating.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin: auto;
}

.main-quick>a {
    text-decoration: none;
    color: white;
}


